{
  CIDER: {
    dependencies: {
      nuget: "",
      tatin: "packages=Laguntza",
    },
    dependencies_dev: {
      tatin: "packages_dev=TestCases",
    },
    distributionFolder: "Dist",
    init: "",
    make: "Admin.Make",
    parent: "#",
    projectSpace: "Laguntza",
    project_url: "https://github.com/aplteam/Laguntza",
    source: "APLSource",
    tatinVars: "Laguntza",
    tests: "TestCases.RunTests",
  },
  LINK: {
    fastLoad: 1,
    forceFilenames: 1,
    watch: "ns",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
