<tool name="Laguntza">  <version>3.0.0</version>  <date>2018-11-24</date>  <container>#._Laguntza</container>  <files></files>  <needs>    <script library="APLTree">APLTreeUtils</script>    <script library="APLTree">MarkAPL</script>    <script library="APLTree">FilesAndDirs</script>    <script library="APLTree">OS</script>    <script library="APLTree">Tester</script>    <script library="APLTree">SevenZip</script>    <script library="APLTree">Execute</script>  </needs>  <scriptOnly>0</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload>  <buildid>25</buildid></tool>