<tool name="Laguntza">  <version>4.1.2</version>  <date>2020-03-13</date>  <container>#.Laguntza</container>  <needs>    <script>APLTreeUtils</script>    <script>MarkAPL</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinSys</script>    <script development="true">Tester2</script>    <script development="true">SevenZip</script>    <script development="true">Execute</script>  </needs>  <autoload>1</autoload>  <buildid>118</buildid></tool>